* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #fff;
	background-image: url(../imagens/fundo.png);
	background-repeat: repeat-x;
}

/*topo
*/
#container {
	width: 750px;
	margin: 0 auto;
}
#topo {
	height: 150px;
	background-image: url(../imagens/detalhe-topo.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-top: 25px;
	
}
.logo /*altura e largura da imagem*/ {
	width: 152px;
	height: 66px;
	background-image: url(../imagens/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -3000px;
}

/*barra navegação
*/

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#topo ul {
	margin-top: 30px;
	background-color: #b10333;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #FFF;
	background-image: url(../imagens/divisor.png);
	background-position: left;
	background-repeat: repeat-y;
}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude#navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
	color: #fff;
	background: #de003e;
	cursor: text;
}

/* COMEÇO CONTEUDO */

#conteudo {
	margin-top: 60px;
	color: #f5f5f5;
}

#lateral {
	width: 180px;
	float: left;
	margin-left: -750px;
	margin-bottom: 20px;
}

#primario {
	width: 270px;
	float: left;
	margin-left: 195px;
	margin-bottom: 20px;
}

#uma-coluna #primario {
	width: 750px;
	margin-bottom: 20px;
	margin-left: 0;
}

#duas-colunas #primario {
	width: 555px;
	float: left;
	margin-left: 195px;
	margin-bottom: 20px;
}

#secundario {
	width: 270px;
	float: left;
	margin-bottom: 20px;
	margin-left: 15px;
}

/* ////////////// CAIXA */

.caixa {
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	margin: 10px 0px;
	color: #000;
	padding: 5px 0px;

}

h2 {
	font-size: 1em;
	background-color: #294c71;
	color: #FFF;
	padding: 5px;
}

.caixa-conteudo {
	background-color: #fff;
	padding: 5px;
	margin-top: 5px;
}

/* /////////// FORMATAÇÃO MENUS LATERAIS */

#lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
	background-image: url(../imagens/marcador.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-color: #f9f9f9;
	padding-left: 22px;
	color: #a1a1a1;
}

/* //////////// ESTILIZANDO FORMULÁRIO */

label {
	display: block;
	cursor: pointer;
}

input {
	font-size: 0.9em;
	background-color: #fff;
	padding: 5px;
	width: 125px;
	border: none;
}

input.submit {
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
}

/* ///// FORMATANDO IMAGENS ////*/

img {
	border: 2px solid #dfdfdf;
}

img.imagem-destaque {
	width: 98%;
	border: 3px solid #dfdfdf;
}

/* ///// FORMATANDO CABEÇALHO ////*/

.destaque h3 {
	background: #b10333;
	color: #fff;
}

.entrevista h3 {
	background: #de003e;
}

/* ////////// FORMATANDO LISTA DE NOTICIAS ///////*/

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 65px;
}

#lista-noticias li a img {
	margin: 5px;
	float: left;
}

#lista-noticias li a {
	text-decoration: none;
}


#lista-noticias li a h3 {
	margin-top: 5px;
	font-size: 0.8em;
	color: blue;
}

#lista-noticias li a p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover {
	background-color: #eee;
	cursor: pointer;
}


/*/////// RODAPÉ */

#container-rodape {
	background-color: #294c71;
	padding: 20px;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;

}

